:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --title-decor-color: #000028;
  --main-text-color: #F1B2CE;
  --main-title-color: #DB00FF;
  --header-color: #FF0070;
  --footer-color: #FF0070;
  --accent-text-color: #FF0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
}

.theme-dark .header__rec {
  display: block;
}
