:root.theme-light {
  --bg-color: #FFF1F7;
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #FF8DCB;
  --title-decor-color: #353430;
  --main-text-color: #353430;
  --main-title-color: #FFC2E6;
  --header-color: #353430;
  --footer-color: #353430;
  --accent-text-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.4);
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #FF8DCB;
    --title-decor-color: #353430;
    --main-text-color: #353430;
    --main-title-color: #FFC2E6;
    --header-color: #353430;
    --footer-color: #353430;
    --accent-text-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.4);
  }
  .header__rec {
    display: none;
  }
}


